@using WebApplication1.Models
@model Pagamento

<!-- Begin Page Content -->


<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12 col-md-6 mb-4 justify-content-center">


            <h1 class="text-center">Cadastrar Boleto</h1>

            <form class="d-flex flex-column p-2 align-items-center text-center" method="post">

                <div class="form-group col-xl-2 col-md-3 mb-4">
                    <label for="formGroupExampleInput">ID</label>
                    <input type="text" class="form-control mb-3 text-center" id="formGroupExampleInput" asp-for="Id" readonly>
                </div>


                <div class="form-group col-xl-4 col-md-6 mb-4">
                    <label for="formGroupExampleInput">Descrição do pagamento</label>
                    <input type="text" class="form-control mb-3" id="formGroupExampleInput" placeholder=" " asp-for="Descricao" required>


                    <label for="formGroupExampleInput2">Valor</label>


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">R$</span>
                        </div>
                        <input class="form-control mb-3 dinheiro form-control" id="formGroupExampleInput2 dinheiro" style="display: inline-block;" asp-for="Valor" required>
                    </div>

                    @if(ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">@ViewBag.Error</div>
                    }
                    <label for="formGroupExampleInput">Código de barras</label>
                    <input type="text" class="form-control mb-3 money2" id="formGroupExampleInput" placeholder="" asp-for="CodBarras" required>

                </div>
                <div class="form-group col-xl-4 col-md-6 mb-4">

                    <label for="formGroupExampleInput2">Data de vencimento</label>
                    <input type="date" class="form-control mb-3" id="formGroupExampleInput2" placeholder="" asp-for="DataVencimento" required>


                    <label for="formGroupExampleInput2">Data de pagamento</label>
                    <input type="date" class="form-control mb-3 " id="formGroupExampleInput2" placeholder="" asp-for="DataPagamento">


                </div>

                <div id="botoes-boleto" class="buttons d-flex">

                    <button class="btn btn-success d-flex" asp-action="Adicionar">Salvar</button>

                    <a asp-action="Index">
                        <button type="button" class="btn btn-danger d-flex">Cancelar</button>
                    </a>

                </div>

            </form>

        </div>

    </div>

</div>
<!-- /.container-fluid -->