<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Cadastrar Usuario</title>
    <meta charset="UTF-8">
</head>

<body>
    <div id="container">
        <h2>Cadastrar</h2>

        <form method="POST">
            Nome<br>
            <textarea rows="1" cols="20" name="nome"></textarea><br>
            Sobrenome<br>
            <textarea rows="1" cols="20" name="sobrenome"></textarea><br>
            CPF<br>
            <textarea rows="1" cols="20" name="cpf"></textarea><br>
            Login<br>
            <textarea rows="1" cols="20" name="login"></textarea><br>
            Senha<br>
            <textarea rows="1" cols="20" name="senha"></textarea><br>
            Confirmar Senha<br>
            <textarea rows="1" cols="20" name="confirmaSenha"></textarea><br>

            <button class="botao botao-block">Cadastrar</button><br><br>
        </form>

        <a asp-action="Login">Voltar</a>
        </p>
    </div>
</body>

</html>