@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApplication1
@using WebApplication1.Models
@model WebApplication1.Models.Usuario

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Cadastrar Usuario</title>
    <meta charset="UTF-8">
</head>

<body>
    <div id="container">
        <h2>Cadastrar</h2>

        <form method="POST">
            <label asp-for="Name">Nome</label>
            <input asp-for="Name"/><br />

            <label asp-for="LastName">Sobrenome</label>
            <input asp-for="LastName"/><br />

            <label asp-for="CPF">CPF</label>
            <input asp-for="CPF"/><br />

            <label asp-for="Login">Login</label>
            <input asp-for="Login"/><br />

            <label asp-for="Password">Senha</label>
            <input asp-for="Password"/><br />

            <label asp-for="ConfirmPassword">Confirmar Senha</label>
            <input asp-for="ConfirmPassword"/><br />

            <button asp-action="Cadastrar_CadastrarUsuario">Cadastrar</button><br><br>
        </form>

        <a asp-action="Login">Voltar</a>
        </p>
    </div>
</body>

</html>