@using WebApplication1
@using WebApplication1.Models
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model Usuario

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Selecionar Veículo</title>
    <meta charset="UTF-8">
</head>

<body>
    <div id="container">
        <h1>Selecione um veículo</h1>
        <table>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Placa</th>
            </tr>
            <form>
                @*

                @for (int i = 0; i < Usuario.VeiculosUsuario.Count; i++)
                {
                    @if (Usuario.VeiculosUsuario[i].IdUsuario != @Model.Id)
                    {
                        <label>Nenhum veículo cadastrado</label>
                    }
                    else
                    {
                    <tr>
                        <td> @Usuario.VeiculosUsuario[i].Marca</td>
                        <td> @Usuario.VeiculosUsuario[i].Modelo</td>
                        <td> @Usuario.VeiculosUsuario[i].Placa</td>
                        <td>
                            <a asp-action="Selecionar">Selecionar</a>
                        </td>
                    </tr>
                    }
                }
                *@
            </form>

        </table><br>

        <p>
            <a class="botao botao-block" id="cadastrar" href="cadastrarVeiculo.php">Cadastrar Veículo</a><br>
        </p>

    </div>
</body>

</html>