@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: #f2f2f2 !important;
    font-family: 'Dosis', sans-serif !important;  
    font-weight: bold !important;
  }

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-control {
  background-color: #fff !important;
}

.login-box { 
padding: 50px;    
padding-bottom: 10px;
border-radius: 10px;
background-color: #f2f2f2;
text-align: center;
border-radius: 20px;

}

#title { 
  color: #333;
  text-transform: uppercase;
}
  #title span{
      color: crimson;
  }

  hr{
      color: #fff !important;
  }
 
  .botao a{
    float: left;
    color: rgb(80, 71, 71);
  }